@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 
}

body{
    width: 100%;
    height: 100vh; /*100vh (viewport hündürlüyü*/
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #130404, #3a4452);
}

.calculator{
    border: 10px solid #667c6a4d;
    padding: 20px;
    border-radius: 16px;
    background: linear-gradient(45deg, #101111, #1254b0);
    /* box-shadow: 0px 3px 15px rgba(178, 9, 9, 0.5); */

}

input{
    width: 320px;
    /* border: none; */
    padding: 24px;
    margin: 10px;
    background: transparent;
    /* box-shadow: 0px 3px 15px rgba(178, 9, 9, 0.5); */
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #f4efef;
}

input::placeholder{
    color: #4130c1;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #1b9620;
    font-size: 20px;
    box-shadow: -8px -8px 15px #e8bcbc1a;
    cursor: pointer;
}

.equalBtn{
    background-color: #d3727280;
}

.operator{
    color: #d8081a;
} 